{% extends "./../main.twig" %}
{% block main %}
<div class="container">
<div class="row">

  <form class="col-md-6 mx-auto mt-5" method="post" enctype="multipart/form-data" action="{{action}}">
        <div>
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name"  placeholder="enter your name">
         </div>
        <div>
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password"  placeholder="password">
        </div>
        <div>
            <label for="mail">Email</label>
            <input type="text" class="form-control" id="mail" name="mail" placeholder="your mail" {% if error %} autofocus  style="border-color: red;" {% endif %}>
        </div>
        {% if error %}<p>{{ error }}</p>{% endif %}
        <button type="submit" class="btn btn-primary">send</button>
    </form>
</div>
</div>
{% endblock %}