.text-wrapper {
    overflow: hidden;
    width: 10rem;
    height:8rem;
    display:flex;
    text-align: center;
    justify-content: center;
}
.badg {
    width: 2.6rem !important;
    height: 2.6rem !important;
    margin-left: 0.5rem !important;
    background-repeat: no-repeat;
}
.badgess {
    display: flex !important;
    flex-direction: row !important;
}
.badges-container {
    flex-direction: column !important;
}